extends layout

block content
  div.content
    div.rezerwacja
      a(href=`/rezerwacja`)= `Sprawdź swoją rezerwację...`

    div.przedmioty
    h3 Dostępne przedmioty:
    each przedmiot in przedmioty
      div.przedmiot_item
        a(href=`/przedmioty/${przedmiot.przedmiot_id}`)= `${przedmiot.nazwa} - ${przedmiot.miejsce}`
