body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: black;
}

.content a:link {
  text-decoration: none;
}

.content a:visited {
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.content a:active {
  text-decoration: underline;
}

.nav_title {
  width: 100%;
  background-color: #e89c8d;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.nav a {
  text-decoration: none;
}

.content {
  padding: 50px;
  margin: 0 15% 0 15%;
  background-color: #e7caca;
  min-height: 85vh;
  font-size: 15px;
}

.przedmiot_item {
  width: 100%;
  background-color: #d9b9b9;
  margin-bottom: 5px;
  padding: 5px;
}

#calendar1 {
  margin-top: 60px;
  border-top: solid 2px;
  padding-top: 20px;
}

#rezerwacja {
  margin-top: 20px;
}

#rezerwacjaInfo {
  color: red;
}

.option-disabled {
  background-color: #9f2727;
  color: white;
}

.option-available {
  background-color: #248524;
  color: white;
}

#daneUzytkownika {
  margin-top: 20px;
}

.przedmioty {
  border-top: solid 2px;
}

.rezerwacja {
  margin-bottom: 20px;
  background-color: #c29494;
  padding: 2px;
}
